body {
  background-color: hsl(0, 100%, 74%);
  font-family: "poppins", sans-serif;
  font-size: 16px;
  /* margin: 0 auto; */
}
input,
input:focus {
  color: hsl(249, 10%, 26%);
  border: 1px solid hsl(249, 10%, 26%) !important;
  /* border-color: hsl(246, 25%, 77%); */
}
input {
  margin: 38px auto;
  padding: 15px !important;
  border-radius: 3.5px !important;
  font-weight: 500;
}

input:invalid {
  border: 2px solid hsl(0, 100%, 74%) !important;
  color: hsl(0, 100%, 74%);
}

form .invalid-feedback {
  display: block;
  margin-top: -30px !important;
  margin-bottom: -5px;
  /* margin: -10px 0 15px 0; */
  text-align: right;
  color: hsl(0, 100%, 74%);
  font-size: 0.7rem;
  font-weight: 500;
  font-style: italic;
  visibility: visible;
}

form,
button {
  display: block;
  /* margin: 30px 15px 0; */
}

button {
  padding: 3% 32.3%;
  border: none;
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: uppercase;
  background-color: hsl(154, 59%, 51%);
  box-shadow: 0 4px hsl(154, 67%, 42%);
  border-radius: 4.5px;
}
.right-form {
  margin: 5rem auto;
}
.left-info {
  margin: 18.25rem auto;
}
.banner,
.form {
  box-shadow: 0 7px hsla(249, 10%, 26%, 0.271);
  /* review box-shadow element later */
}
.header,
.subtitle,
.banner,
button {
  color: #fff;
}
.header {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1;
}
.subtitle {
  font-weight: 500;
  margin: 1.75rem 0;
}
.banner {
  background-color: hsl(248, 32%, 49%);
  margin: 0 20px;
  padding: 15px 0;
  text-align: center;
}
.banner span {
  font-weight: 600;
}
.banner,
.form {
  border-radius: 9px;
}
.form {
  background-color: #fff;
  margin: 1.3rem;
  padding: 1.5rem;
}

.footer {
  margin: 20px;
  color: hsl(246, 25%, 77%);
  text-align: center;
  font-size: 10px;
  font-weight: 500;
}
.footer strong {
  color: hsl(0, 100%, 74%);
  font-weight: 700;
}
.attribution {
  margin: 100px auto;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}
.attribution a:hover {
  text-decoration: underline;
  color: hsl(154, 59%, 51%);
}
/* FIX REPONSIVE BEHAVIORS */
@media (min-width: 701px) {
  body {
    background-image: url(/images/bg-intro-desktop.png);
  }
}
@media (max-width: 1000px) {
  .header {
    font-size: 2.25rem;
  }
  .subtitle {
    font-size: 0.75rem;
  }
}
@media (max-width: 767px) {
  body {
    background-image: url(/images/bg-intro-mobile.png);
    text-align: center;
  }
  input {
    margin: 1rem 0 3rem;
  }

  button {
    margin: 0 auto;
    padding: 1rem 2rem;
  }
  .left-info {
    margin: 6rem auto;
  }
  .header {
    font-size: 1.75rem;
    font-weight: 600;
  }
  .subtitle {
    font-size: 1rem;
    padding: 0 1rem;
    font-weight: 400;
  }
  .right-form {
    margin: -6rem auto;
  }
  .banner {
    /* font-size: 1rem; */
    padding: 1.25rem 3rem;
  }
  .bold-banner {
    font-weight: 500;
  }
  .banner p {
    font-weight: 100;
  }
  .banner,
  .form {
    margin: 2rem 0.75rem;
  }
}
