body {
  background-color: hsl(0, 100%, 74%);
  font-family: "poppins", sans-serif;
  font-size: 16px;
  margin: 150px auto;
}
input {
  padding: 8px 0 8px 25px;
  width: 435px;
  height: auto;
  border-color: hsl(246, 25%, 77%);
  font-weight: 500;
  border-radius: 4.5px;
  margin: 10px;
}
input:focus {
  color: hsl(249, 10%, 26%);
}
input:invalid {
  color: hsl(0, 100%, 74%);
}

form,
button {
  border-radius: 4.5px;
  display: block;
  margin: 0 auto;
}
button {
  background-color: hsl(154, 59%, 51%);
  font-weight: 500;
  text-transform: uppercase;
  padding: 15px 127px;
  display: block;
  margin: 0 auto;
  border: none;
  box-shadow: 0 4px hsl(154, 67%, 42%);
}
.banner,
.form {
  box-shadow: 0 7px hsla(249, 10%, 26%, 0.271);
  /* review box-shadow element later */
}
.header,
.subtitle,
.banner,
button {
  color: #fff;
}
.header {
  font-weight: 700;
  font-size: 3rem;
}
.subtitle {
  font-weight: 500;
}
.banner {
  background-color: hsl(248, 32%, 49%);
  margin: 0 20px;
  padding: 15px 0;
  text-align: center;
}
.banner span {
  font-weight: 600;
}
.banner,
.form {
  border-radius: 9px;
}
.form {
  background-color: #fff;
  margin: 1.3rem;
  padding: 1.5rem;
}
.footer {
  margin: 20px;
  color: hsl(246, 25%, 77%);
  text-align: center;
  font-size: 10px;
  font-weight: 500;
}
.footer strong {
  color: hsl(0, 100%, 74%);
  font-weight: 700;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}
.attribution a:hover {
  text-decoration: underline;
  color: hsl(154, 59%, 51%);
}
@media (min-width: 701px) {
  body {
    background-image: url(/images/bg-intro-desktop.png);
  }
}
@media (max-width: 700px) {
  body {
    background-image: url(/images/bg-intro-mobile.png);
  }
}
