body {
  background-image: url(/images/bg-intro-mobile.png);
  background-color: hsl(0, 100%, 74%);
  font-family: "poppins", sans-serif;
  margin: 88px auto;
  text-align: center;
  color: #fff;
}
h1 {
  font-size: 28px;
  font-weight: 700;
}
p {
  margin: 16px 24px 30px !important;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
}
strong {
  font-weight: 700;
}
form {
  background-color: #fff;
  margin: 0 24px;
  padding: 24px;
  border-radius: 10px;
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
}
input,
button {
  border-radius: 5px;
}
input {
  margin-bottom: 16px;
  padding: 15px 0 15px 19px !important;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.25px;
}
button {
  margin: 0 0 8px;
  padding: 15px 29.9px 15px 29.9px;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #38cc8b;
  border: none;
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
}
.banner {
  margin: 2rem 0.75rem;
  padding: 18px 66px;
  font-size: 15px;
  font-weight: 200;
  border-radius: 10px;
  background-color: hsl(248, 32%, 49%);
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
}
.disclaimer {
  margin: 8px 10px 0;
  color: hsl(246, 25%, 77%);
  font-size: 11px;
}
.disclaimer strong {
  font-weight: 700;
  color: hsl(0, 100%, 74%);
}
footer p {
  margin-top: 50px;
  font-size: 10px;
}
@media (width: 1440px) {
  body {
    background-image: url(/images/bg-intro-desktop.png);
  }
  .subtitle {
    margin-left: 50px;
  }
  h1 {
    margin-left: 75px;
    font-weight: 700;
    font-size: 50px;
    line-height: 1.2;
  }
  .left-info {
    margin: 200px auto;
    text-align: left;
  }
  .right-form {
    margin: 10px auto;
  }
}
